In [1]:
import os

while os.getcwd() != "/" and ".gitignore" not in os.listdir(os.getcwd()):
	os.chdir("..")
	if os.getcwd() == "/":
		print("COULD NOT FIND gitignore.  Invalid project base file.")
print("Current Working Directory:  ", os.getcwd())

Current Working Directory:   /home/marco/github/numaware/joint_model

In [2]:
import src.uafscs.utils.data_utils		as dutils
import pandas as pd
import numpy as np

In [3]:
imgs_dir = "/usr/joint_model_data/processed_images_and_data/images"
train_csv = "/usr/joint_model_data/processed_images_and_data/train_data.csv"

train_c_dataset = dutils.UADataset(imgs_dir,train_csv)

Hi im being made
/usr/joint_model_data/processed_images_and_data/train_data.csv

In [4]:
img,ym , om , c,j=train_c_dataset.__getitem__(0)

hi
In dataset <class 'torch.Tensor'>

In [5]:
img

tensor([[[0.9843, 0.9804, 0.9804,  ..., 0.5216, 0.5255, 0.5255],
         [0.9843, 0.9804, 0.9804,  ..., 0.5216, 0.5255, 0.5255],
         [0.9843, 0.9804, 0.9804,  ..., 0.5216, 0.5255, 0.5255],
         ...,
         [0.9843, 0.9882, 0.9882,  ..., 0.9804, 0.9843, 0.9843],
         [0.9843, 0.9882, 0.9882,  ..., 0.9804, 0.9843, 0.9843],
         [0.9843, 0.9882, 0.9882,  ..., 0.9804, 0.9843, 0.9843]],

        [[0.9922, 0.9882, 0.9882,  ..., 0.2392, 0.2392, 0.2392],
         [0.9922, 0.9882, 0.9882,  ..., 0.2392, 0.2392, 0.2392],
         [0.9922, 0.9882, 0.9882,  ..., 0.2392, 0.2392, 0.2392],
         ...,
         [0.6353, 0.6353, 0.6392,  ..., 0.8863, 0.8902, 0.8902],
         [0.6353, 0.6353, 0.6392,  ..., 0.8863, 0.8902, 0.8902],
         [0.6353, 0.6353, 0.6392,  ..., 0.8863, 0.8902, 0.8902]],

        [[0.9882, 0.9843, 0.9843,  ..., 0.1843, 0.1843, 0.1843],
         [0.9882, 0.9843, 0.9843,  ..., 0.1843, 0.1843, 0.1843],
         [0.9882, 0.9843, 0.9882,  ..., 0.1843, 0.1843, 0.1843],
         ...,
         [0.5922, 0.5961, 0.5961,  ..., 0.7569, 0.7608, 0.7608],
         [0.5922, 0.5961, 0.5961,  ..., 0.7569, 0.7608, 0.7608],
         [0.5922, 0.5961, 0.5961,  ..., 0.7569, 0.7608, 0.7608]]])

In [6]:
df = pd.read_csv(train_csv)

In [7]:
df.head()

,img,joints,cartesians,yolo_midpoint,our_midpoint,class
0,motionblur/img63_motionblur.png,"[145.58, 27.3, 19.81, 60.65, -68.14, 53.64]","[[-315.97, 287.07, 358.95], [0.01, 0.009, -0.6...","[182.071, 98.001]","[182.96, 129.976]",2.0
1,img26.png,"[77.94, 38.12, 48.33, -13.6, -88.66, 90.88]","[[51.4, 321.52, 207.99], [0.01, 0.009, -0.694,...","[458.675, 210.644]","[465.457, 234.5]",1.0
2,saltandpepper/img88_saltandpepper.png,"[123.26, 39.96, 45.61, 31.71, -88.35, 87.73]","[[-148.09, 294.77, 203.89], [0.01, 0.009, -0.6...","[322.44, 221.866]","[325.621, 251.92]",1.0
3,posterize/img72_posterize.png,"[117.7, 37.66, 52.5, 26.17, -92.25, 90.12]","[[-110.78, 279.2, 204.21], [0.01, 0.009, -0.69...","[349.762, 221.971]","[353.899, 249.37]",1.0
4,defocus/img119_defocus.png,"[114.79, 2.32, 50.42, 27.65, -58.23, 73.73]","[[-106.51, 298.42, 364.42], [0.01, 0.009, -0.6...","[353.255, 96.369]","[357.637, 123.855]",1.0

In [8]:



series = df["joints"]